<div class="btn-group in_thread_control-box">
	<% is_moderator = current_user.role.is_admin or current_user.can_moderate_forum? thread.forum %>
	<% if signed_in? %>
		<% if is_moderator %>
		
			<%= button_tag raw("<i class=\"icon-remove\"></i>"), type: 'submit',
			 form: 'form_delete_thread', class: 'btn', title: 'Delete' %> <!-- Delete -->
			 
			<button class="btn"><i class="icon-lock"></i></button> <!-- Close -->
			
			<%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_forum_thread_path(thread.id),
			 class: 'btn', title: 'Edit' %> <!-- Edit -->
			 
		<% elsif current_user == thread.author %>
			<%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_forum_thread_path(thread.id),
			 class: 'btn', title: 'Edit' %> <!-- Edit -->
		<% end %>
	<% end %>
	<button class="btn"><i class="icon-warning-sign"></i></button> <!-- Report -->
</div>
<% if is_moderator %>
	<%= form_tag delete_forum_thread_path(thread.id), method: :delete, id: 'form_delete_thread', style: 'display: none;' do |f|%>
	<% end %>
<% end -%>
