<%= yield :breadcrumb%>
<% @breadcrumbs ||= {}%>
<ul class="breadcrumb">
	<li>
		<a href="<%= root_path%>"><i class="icon-home"></i></a>
	</li>

	<% @breadcrumbs.each do |key, value|%>
	<%if key == @breadcrumbs.keys.last %>
	<li class="active">
		<span class="divider"> ></span> <%= key%>
	</li>
	<% else %>
	<li>
		<span class="divider"> ></span> <%= link_to key, value%> 
	</li>
	<% end %>
	<% end %>

</ul>
