<ul class="breadcrumb">

	<li>
		<a href="<%= root_path%>"><i class="icon-home"></i></a><span class="divider"> ></span>
	</li>

	<% @breadcrumbs.each do |key, value|%>
	<%if key == @breadcrumbs.keys.last %>
	<li class="active">
		<%= key%>
	</li>
	<% else %>
	<li>
		<%= link_to key, value%> <span class="divider"> ></span>
	</li>
	<% end %>
	<% end %>

</ul>
